@model IEnumerable<Test1.Models.Relations.SizeItem>

@{
    ViewData["Title"] = "Index";
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlowerItem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            
         
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlowerItem.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
               
            
        </tr>
}
    </tbody>
</table>
