@model IEnumerable<Test1.Models.Occasion>

@{
    ViewData["Title"] = "Index";
}

<h1>Occasions</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create Occasion</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>

                <td>
                    @if (item.Image != null)
                    {

                        <img src="data:image/png;base64,@Convert.ToBase64String(item.Image)"
                             style="max-width: 300px; height: auto;" />
                    }
                </td>

                <td>
                    <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            @for (int i = 1; i <= ViewBag.TotalPages; i++)
            {
                <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                    <a class="page-link" href="@Url.Action("Index", new { page = i, pageSize = ViewBag.PageSize })">@i</a>
                </li>
            }
        </ul>
    </nav>
</div>


